{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>venom</h1>
        <p>
            El periodista Eddie Brock está investigando a Carlton Drake, el célebre fundador de Life Foundation. Brock establece una simbiosis con un ente alienígena que le ofrece superpoderes, pero el ser se apodera de su personalidad y lo vuelve perverso.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/venom.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}
